/*  Basic Styling
------------------------------------------------------- */
* { box-sizing: border-box; }

html {
	font-family: Avenir, Helvetica, sans-serif;
	background: #e4e4d5;
	scroll-behavior: smooth;

}
body { margin: 0; }

header {
	margin-top: 4rem;
    grid-area: my-header;
}



aside {
    grid-area: my-aside;
}
footer {
    grid-area: my-footer;
}

h1 {
	text-transform: uppercase;	
	font-size: 4rem;
    margin: 0;
    line-height: 1.2em;
	display: grid;
	grid-template-columns: repeat(19, 1fr);
}
h2 {
    color: #e4e4d5;
    background: #f9423a;
    justify-self: center; 
    font-size: 4rem ;
    margin-right: 10%;    
    padding-left: 10%;
}
h3 {
    margin-left: 10%;
	margin-right: 10%;
    padding-left: 5vw;
    background: azure;
}
p {
    display: flex;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}
a {
	text-decoration: none;
	color:black;
}
.logo {
	position: fixed;
	margin-top: -4rem;
}
.viajes {
	color: #f9423a;
}
.avv {
    grid-area: my-section1;
}
.val {
	grid-area: my-section2;
}
.sal {
    grid-area: my-section3;
}
.bad {
	grid-area: my-section4;
}
.sev {
    grid-area: my-section5;
}
.our {
	grid-area: my-section6;
}
main {
    /*color: white;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    display: grid;*/
    display: grid;
	grid-template-columns: 70% 30%;
    /*grid-template-rows: 4em 2em 1fr 4em 2em;
    
    /* TIPO DE DISEÑO: MOBILE FIRST */
    /* como  inicialmente se construye la web es en una columna */
    /* Tal y como se espera en una visualización de dispositivo mobil */
    grid-template-areas:  
    "my-section1"
    "my-section2" 
	"my-section3" 
    "my-section4" 
    "my-section5" 
    "my-section6" 
    "my-aside" 
    "my-footer" ;
}

h1 span:nth-child(1) { /* v */
	color: #f9423a;
	grid-column: 10;
	grid-row: 1;
	text-align: center;

}
h1 span:nth-child(2) { /* i */
	color: #f9423a;
	grid-column: 10;
	grid-row: 2;
	text-align: center;

}
h1 span:nth-child(3) { /* A */
	color: #f9423a;
	grid-column: 10;
	grid-row: 3;
	text-align: center;

}
h1 span:nth-child(4) { /* j */
	color: #f9423a;
	grid-column: 10;
	grid-row: 4;
	text-align: center;

}
h1 span:nth-child(5) { /* e */
	color: #f9423a;
	grid-column: 10;
	grid-row: 5;
	text-align: center;

}
h1 span:nth-child(6) { /* s */
	color: #f9423a;
	grid-column: 10;
	grid-row: 6;
	text-align: center;

}
h1 span:nth-child(7) { /* Á */
	grid-column: 9;
	grid-row: 1;
	text-align: end;

}
h1 span:nth-child(8) { /* ILA */
	grid-column: 11;
	grid-row: 1;	
	text-align: initial;

}
h1 span:nth-child(9) { /* Valenc */
	grid-column: 9;
	grid-row: 2;
	text-align: end;

}
h1 span:nth-child(10) {  /*A */
	grid-column: 11;
	grid-row: 2;
	text-align: initial;

}
h1 span:nth-child(11) { /* SAL */
	grid-column: 9;
	grid-row: 3;
	text-align: end;

}
h1 span:nth-child(12) { /* MANCA */
	grid-column: 11;
	grid-row: 3;
	text-align: initial;

}
h1 span:nth-child(13) {  /* BADA */
	grid-column: 9;
	grid-row: 4;
	text-align: end;

}
h1 span:nth-child(14) {  /* OZ */
	grid-column: 11;
	grid-row: 4;
	text-align: initial;

}
h1 span:nth-child(15) {  /* S */
	grid-column: 9;
	grid-row: 5;
	text-align: end;

}
h1 span:nth-child(16) {  /*VILLA*/
	grid-column: 11;
	grid-row: 5;
	text-align: initial;

}
h1 span:nth-child(17) {  /* OUREN */
	grid-column: 9;
	grid-row: 6;
	text-align: end;

}
h1 span:nth-child(18) {  /*E*/
	grid-column: 11;
	grid-row: 6;
	text-align: initial;

}

.slider { 
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;	
	  }
	  
.slider ul {
	display: flex;	
	padding: 0; 
	width: 600%;	
	animation: cambio 20s infinite ease;
	animation-direction: normal;
	  }
	  
.slider li {
	width: 100%;
	list-style: none;
	  }	
	  
.slider img {
	width: 100%;	/*Una imagen es el 100% de cada keyframe*/
	  }
	  
	  @keyframes cambio {
		  
		  0% {
			  margin-left: 0%;	/*Comienza la primera imagen en la posición 0*/
		  }
		  14% {
			  margin-left: 0%;	/*Del 15 al 18 se mueve 100 a la izq*/
		  }
		  19% {	
			  margin-left: -100%;	/*Del 19% al 34% de la duración del slider completo, el 2º keyframe está estático */
		  }
		  34% {
			  margin-left: -100%;	/*Del 35 al 38 se mueven los keyframes 200 a la izq*/
		  }
		  39% {
			  margin-left: -200%;
		  }						/*Quieta*/
		  54% {
			  margin-left: -200%;
		  }						/*Se mueve -300 (hacia la izq)*/
		  59% {
			  margin-left: -300%;
		  }						/*Quieta*/
		  74% {
			  margin-left: -300%;
		  }						/*Se mueve -400*/
		  79% {
			  margin-left: -400%;
		  }						/*Quieta*/
		  94% {
			  margin-left: -400%;
		  }						/*Se mueve -500*/
		  99% {
			  margin-left: -500%;
		  }						/*Quieta*/
		  100% {
			  margin-left: -500%;
		  }
	  }
@media (min-width: 600px) and (max-width: 1000px) {
    main {
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 4em 2em 1fr 4em;
        grid-template-areas: 
        "my-section1 my-aside" 
        "my-section2 my-aside" 
        "my-section3 my-aside" 
        "my-footer my-footer";
    }
}

@media (min-width: 1001px) {
    main {
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "my-section1 my-aside" 
        "my-section2 my-aside"        
		"my-section3 my-aside" 
		"my-section4 my-aside"
		"my-section5 my-aside" 
		"my-section6 my-aside" 
        "my-footer my-footer";
    }
}
